.section__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    width: 1112px;
}

.section__header-search {
    position: relative;
    width: 306px;

    & .input-crm {
        padding-left: 50px;
    }

    & .header__search-btn {
        opacity: 0.6;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}

.section__block {
    width: 1112px;
    background: #FFFFFF;
    border: 1px solid rgba(140, 190, 250, 0.35);
    border-radius: 5px;
}

.section__block-footer {
    padding: 14px 54px;
    background: #F0F4FC;
    border-top: 1px solid rgba(140, 190, 250, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__pagination .page-link  {
    border: 1px solid rgba(112, 170, 239, 0.38);
    border-radius: 3px;
    background: rgba(187, 212, 240, 0.5);
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-right: 6px;
    padding: 6px 0;
    width: 30px;
    text-align: center;

    &:hover,
    &.active {
        background: #BBD4F0;
    }

    &.page-link--sec {
        font-size: 20px;
        padding: 2px 0 3px;
        font-weight: 400;
        background-color: transparent;
        color: rgba(13, 70, 137, 0.43);

        &:hover,
        &:active {
            background: #BBD4F0;
            color: #fff;
        }
    }
}

.section__counter {
    font-weight: 300;
}

.section__block-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px;

    & .section__header-search {
        width: 90%;
    }
}

.sections {
    display: flex;
    align-items: center;
    overflow: auto;
    scrollbar-width: thin;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;

    & li {
        flex: 1;
        white-space: nowrap;
    }

    &::-webkit-scrollbar-thumb{
        width: 20px;
        background: rgba(112, 170, 239, 0.56);;
    }

    &::-webkit-scrollbar{
        width: 20px;
        background: rgba(221, 233, 254, 0.45);;
    }
}

.sections__link {
    display: inline-block;
    font-weight: 500;
    font-size: 10px;
    color: #4F597C;
    margin-right: 20px;
    transition: 0.3s;
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom: 1px solid transparent;

    &:hover,
    &.active {
        border-color: $hover-color;
    }
}

.sections__count {
    min-width: 13px;
    padding: 2px 3px;
    display: inline-block;
    margin-left: 7px;
    text-align: center;
    background: #1D61B1;
    border-radius: 3px;
    font-weight: 700;
    font-size: 8px;
    color: #fff;
}

.filter-btn {
    background: rgba(91, 153, 226, 0.07);
    border-radius: 5px;
    padding: 7px;

    &::after {
        margin-left: 5px;
        vertical-align: middle;
        border-top: 6px solid #1d61b1;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }

    &[aria-expanded="true"] {
        background: #0C5BB7;

        &::after {
            border-top: 6px solid #fff;
        }

        & img {
            filter: grayscale(1) contrast(20);
        }
    }
}

.section__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 25px;
}

.section__filters-item {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    margin-bottom: 20px;

    & label {
        font-weight: 500;
        font-size: 12px;
        color: #727272;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.section__filters-reset {
    margin-left: auto;
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #1D61B1;
}

.section__block-header--one .section__block-filter {
    flex: 1 1 100%;
    text-align: right;

}

.section__block-filter {

    & .dropdown-toggle:not(.dropdown-toggle--tovar) {
        background: rgba(91, 153, 226, 0.07);
        border-radius: 5px;
        padding: 7px;

        &::after {
            margin-left: 3px;
            vertical-align: middle;
            border-top: 6px solid #4a8fe0;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
        }
    }

    & .dropdown-menu {
        border: 1px solid rgba(140, 190, 250, 0.52);
        border-radius: 5px;
        padding: 5px;

        & .checkbox-crm {
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }

    & .dropdown-item {
        font-weight: 300;
        font-size: 14px;
        border-top: 1px solid rgba(140, 190, 250, 0.14);
        color: #7E7E7E;

        &:focus, 
        &:hover {
            background: #F0F4FC;
        }

        &.disabled {
            border-top: none;
            font-weight: 400;
            color: #7E7E7E;
        }
    }

    & > .checkbox-crm {
        display: inline-block;

        & input:checked+label::before, 
        & input:not(:checked)+label::before {
            top: -11px;
        }

        & input:checked+label::after {
            top: -7px;
        }
    }
}

.dropdown-toggle--tovar {
    padding: 0;
    margin-left: -11px;

    &::after {
        vertical-align: middle;
        border-top: 6px solid #97afcc;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
}

.section__block-radios {
    display: flex;
    align-items: center;
}

.section__block-radio label {
    font-weight: 300;
    color: #234D9C;
    white-space: nowrap;
    padding: 5px 20px 5px 36px;
    margin-right: 50px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;

    &:hover,
    &:active {
        background: rgba(91, 153, 226, 0.07);
        border-radius: 5px;
        font-weight: 500;

        &::before {
            content: '';
            width: 9px;
            height: 9px;
            background: #C83138;
            border-radius: 2px;
            position: absolute;
            top: 10px;
            left: 14px;
        }
    }
}

.section__block-radio input:checked + label {
    background: rgba(91, 153, 226, 0.07);
    border-radius: 5px;
    font-weight: 500;

    &::before {
        content: '';
        width: 9px;
        height: 9px;
        background: #C83138;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 14px;
    }
}

.section__block-select {
    display: flex;
    align-items: center;
    opacity: 0;

    & .input-crm {
        width: 188px;
        margin-right: 5px;
        padding: 6px 10px;
        font-size: 14px;
    }

    & .btn {
        padding: 5px 12px;
        background: rgba(91, 153, 226, 0.2);
        border-radius: 5px;
    }
}

.section__head {
    padding: 20px 54px;
    background: #F0F4FC;
    border-top: 1px solid rgba(140, 190, 250, 0.3);
    border-bottom: 1px solid rgba(140, 190, 250, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__head-item {
    font-weight: 500;
    color: #234D9C;
    text-transform: uppercase;
}

.section__block-items {
    padding: 20px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__view {
    background: #FFFFFF;
    border: 1px solid rgba(140, 190, 250, 0.35);
    border-radius: 5px;
    padding: 12px 28px;
    width: 1112px;
}

.section__view-item {
    display: flex;
    align-items: center;
    padding: 20px 0 10px;

    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(112, 170, 239, 0.31);
    }

    & .title {
        font-weight: 500;
        text-transform: uppercase;
        min-width: 170px;
        color: #234D9C;
    }

    & .value {
        font-weight: 300;
    }
}

.sclad__btns {
    margin-top: 42px;
    text-align: right;
    width: 1112px;

    & .btn {
        font-weight: 500;
        font-size: 18px;
        color: #226BC0;
        padding: 0;
    }
}

.sclad__btns .button--sec {
    margin: 0 30px;
}

.section__add-item .title {
    font-weight: 400;
    color: #2C2B2B;
    text-transform: capitalize;

    & span {
        color: $hover-color;
    }
}

.section__add-item .input-crm {
    width: 461px;
}