    <tr>
        <td>
            <a href="oder-view.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Смотреть">
                <img src="img/eye.svg" alt="Смотреть" width="20" height="20" class="oder__look">
            </a>
        </td>
        <td>
            <p class="nomber">@@nomber</p>
        </td>
        <td>
            <h3 class="title">@@name</h3>
            <p class="small">@@art</p>
        </td>
        <td>
            <p class="date">@@date</p>
        </td>
        <td>
            <p class="status @@class">@@status</p>
            <p class="small">@@st-date</p>
        </td>
        <td>
            <p class="price">@@price</p>
        </td>
        <td>
            <p class="sklad">@@sclad</p>
        </td>
    </tr>
