    <tr>
        <td>
            <div class="checkbox-crm">
                <input id="@@id" type="checkbox">
                <label for="@@id"></label>
            </div>
        </td>
        <td>
            <h3 class="title">Купон из белого золота с бриллиантом</h3>
        </td>
        <td>
            <p class="nomber">012345679</p>
        </td>
        <td>
            <p class="price">5679.00</p>
        </td>
        <td>
            <p class="price">1</p>
        </td>
        <td>
            <p class="price">опубликован</p>
        </td>
        <td>
            <p class="price">подвесы с бриллиантами</p>
        </td>
        <td>
            <p class="price">Киев</p>
        </td>
        <td>
            <p class="sklad">PARUS_KOVALENKO</p>
        </td>
        <td>
            <a href="tovar-view.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Смотреть">
                <img src="img/eye.svg" alt="Смотреть" width="20" height="20" class="oder__look">
            </a>
            <a href="tovar-edit.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать">
                <img src="img/edit.svg" alt="Смотреть" width="20" height="20" class="oder__look">
            </a>
        </td>
    </tr>
