<header class="header">
    <div class="navbar">
        <img src="img/logo.svg" alt="Ломбард Парус" width="154" height="57" class="header__logo">
        <div class="header__search">
            <form class="header__search-form">
                <input class="input-crm" type="search" aria-label="Поиск">
                <button class="btn header__search-btn" type="submit">
                    <img src="img/search.svg" width="26" height="26" alt="Поиск">
                </button>
            </form>
        </div>
        <div class="header__exit">
            <p class="header__exit-name">Kiev_Parus_Kovalenko</p>
            <a href="index.html" class="header__exit-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Выйти">
                <img src="img/exit.svg" width="33" height="33" alt="Выйти">
            </a>
        </div>
    </div>
</header>
