<div class="left-nav">
    <ul class="nav menu flex-column">
        <li class="menu-item">
          <a class="menu-link menu-link--home active" aria-current="page" href="home.html">Панель управления</a>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-link--sections" href="sections.html">Разделы</a>
          <ul class="sub-menu">
              <li class="sub-menu__item">
                  <a href="sclad.html" class="sub-menu__link">Склады</a>
                </li>
              <li class="sub-menu__item">
                  <a href="tovar.html" class="sub-menu__link">Товары</a>
                </li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-link--oder" href="oder.html">Заказы</a>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-link--setting" href="settings.html">Настройки пользователя</a>
          </li>
        <li class="menu-item">
            <a class="menu-link menu-link--ruls" href="ruls.html">Правила использования личного кабинета</a>
        </li>
    </ul>
</div>